<div class="container">
  <mat-card class="contact-us-card" appearance="outlined">
      <mat-card-header>
        <div mat-card-avatar class="header-image"></div>
        <mat-card-title i18n>Code Brothers</mat-card-title>
        <mat-card-subtitle i18n>Jesteśmy tu dla Ciebie!</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image class="contact-us-img" src="contact-img.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content class="mat-content">
        <p i18n style="text-indent: 20px;">
          Witamy w naszej sekcji kontaktowej poświęconej kursom programowania na Udemy!
          Z pasją wspieramy osoby takie jak Ty, pomagając zdobyć umiejętności niezbędne do osiągnięcia sukcesu w programowaniu i tworzeniu nowoczesnych aplikacji webowych.
          Niezależnie od tego, czy masz pytania dotyczące naszych kursów, chcesz podzielić się opinią, czy jesteś zainteresowany współpracą przy projektach programistycznych lub tworzeniu nowoczesnych aplikacji internetowych, jesteśmy tu, aby Cię wesprzeć.
          Skontaktuj się z nami za pomocą e-maila. Twoja podróż w świat programowania zaczyna się tutaj, a my jesteśmy podekscytowani, że możemy być jej częścią!
        </p>
      </mat-card-content>
      <mat-card-actions class="card-actions">
        <button i18n mat-button (click)="redirectToUdemy()">SPRAWDŹ NASZ KAMAŁ UDEMY!</button>
        <button i18n mat-button (click)="sendEmail()">SKONTAKTUJ SIĘ!</button>
      </mat-card-actions>
    </mat-card>
</div>