<div class="container">
    <mat-card class="about-us-card" appearance="outlined">
        <mat-card-header>
          <div mat-card-avatar class="header-image"></div>
          <mat-card-title i18n>Code Brothers</mat-card-title>
          <mat-card-subtitle i18n >Twój wybór na Udemy!</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image class="about-us-img" src="about_us_img.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="mat-content">
          <p i18n style="text-indent: 20px;">
            Cześć! Jesteśmy Tomasz i Jakub – <span style="font-weight: 600;">Code Brothers</span>, dynamiczny duet bliźniaków-programistów z pasją do technologii internetowych.
            Posiadamy doświadczenie w pracy z frameworkami takimi jak Django, Angular i React, dzięki czemu tworzymy innowacyjne rozwiązania cyfrowe, które naprawdę mają znaczenie.
            Nasze ulubione narzędzia – Django, Angular i React – umożliwiają nam tworzenie imponujących stron internetowych i aplikacji.
            Uwielbiamy Angulara za jego moc i przyjemność, jaką daje rozwój webowy.
            W bardziej złożonych projektach stawiamy na Django, które zapewnia płynność i efektywność działania.
            A gdy liczy się szybkość, Firebase pozwala nam szybko wdrażać nasze pomysły w życie.
          </p>
          <p i18n>
            Ale nasza podróż nie kończy się na tworzeniu projektów. Jesteśmy również oddani nauczaniu i dzieleniu się naszą wiedzą poprzez kursy na Udemy.
            Staramy się, aby nauka była przystępna i przyjemna, pomagając zarówno początkującym, jak i doświadczonym programistom w rozwijaniu umiejętności i wyruszaniu na ekscytujące przygody z kodowaniem.
          </p>
          <p i18n>
            Dołącz do nas w tej ekscytującej podróży do świata technologii. Razem możemy tworzyć niesamowite rzeczy, krok po kroku!
          </p>
        </mat-card-content>
        <mat-card-actions class="card-actions">
          <button i18n mat-button (click)="redirectToUdemy()">SPRAWDŹ NAS NA UDEMY!</button>
        </mat-card-actions>
      </mat-card>
</div>