/* MAIN PAGE STYLING */

.mat-toolbar {
background-color: white;
color: black;
box-shadow: 0px 21px 47px -20px rgba(173, 173, 173, 1);
height: 120px;
}
.logo-img {
    height: 100px;
    margin-right: 20px;
}
.spacer {
    flex: 1 1 auto;
}
.language-flag {
    width: 20px;
    height: 15px;
    margin-right: 8px;
}
.language-button mat-icon {
    font-size: 20px;
}

a {
    text-decoration: none; /* Usuwa podkreślenie */
    color: inherit;        /* Dziedziczy kolor od rodzica, możesz ustawić inny kolor */
  }
  
  a:visited {
    text-decoration: none; /* Usuwa podkreślenie dla odwiedzonych linków */
  }
  
  a:focus {
    outline: none; /* Usuwa obramowanie wokół linków po kliknięciu */
  }
  
  a:hover, a:active {
    text-decoration: none; /* Usuwa podkreślenie podczas najechania myszką i kliknięcia */
  }
  


/* MAIN PAGE MEDIA SMALL SCREEN */

@media (max-width: 600px) {
    .language-text {
        visibility: hidden;
        display: none;
    }
    .logo-img {
        height: 80px;
        margin-right: 10px;
    }
    button[mat-button] {
        font-size: 14px;
        padding: 0 8px;
        min-width: auto;
    }
    .mat-toolbar {
        height: 100px;
    }
    .language-button mat-icon {
        margin: 4px;
        font-size: 18px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .mat-menu-item {
        padding: 8px 16px;
    }
    .language-flag {
        width: 16px;
        height: 12px;
        margin-right: 4px;
    }
}
